tablon/Tablon.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://ws.apache.org/axis2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://ws.apache.org/axis2">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2">
            <xs:element name="setOrden">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:base64Binary"/>
                        <xs:element minOccurs="0" name="args1" nillable="true" type="xs:base64Binary"/>
                        <xs:element minOccurs="0" name="args2" nillable="true" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setOrdenResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getFirma">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getFirmaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getComando">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getComandoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClave">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClaveResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getFirmaRequest">
        <wsdl:part name="parameters" element="ns:getFirma"/>
    </wsdl:message>
    <wsdl:message name="getFirmaResponse">
        <wsdl:part name="parameters" element="ns:getFirmaResponse"/>
    </wsdl:message>
    <wsdl:message name="getClaveRequest">
        <wsdl:part name="parameters" element="ns:getClave"/>
    </wsdl:message>
    <wsdl:message name="getClaveResponse">
        <wsdl:part name="parameters" element="ns:getClaveResponse"/>
    </wsdl:message>
    <wsdl:message name="setOrdenRequest">
        <wsdl:part name="parameters" element="ns:setOrden"/>
    </wsdl:message>
    <wsdl:message name="setOrdenResponse">
        <wsdl:part name="parameters" element="ns:setOrdenResponse"/>
    </wsdl:message>
    <wsdl:message name="getComandoRequest">
        <wsdl:part name="parameters" element="ns:getComando"/>
    </wsdl:message>
    <wsdl:message name="getComandoResponse">
        <wsdl:part name="parameters" element="ns:getComandoResponse"/>
    </wsdl:message>
    <wsdl:portType name="TablonPortType">
        <wsdl:operation name="getFirma">
            <wsdl:input message="ns:getFirmaRequest" wsaw:Action="urn:getFirma"/>
            <wsdl:output message="ns:getFirmaResponse" wsaw:Action="urn:getFirmaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getClave">
            <wsdl:input message="ns:getClaveRequest" wsaw:Action="urn:getClave"/>
            <wsdl:output message="ns:getClaveResponse" wsaw:Action="urn:getClaveResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setOrden">
            <wsdl:input message="ns:setOrdenRequest" wsaw:Action="urn:setOrden"/>
            <wsdl:output message="ns:setOrdenResponse" wsaw:Action="urn:setOrdenResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getComando">
            <wsdl:input message="ns:getComandoRequest" wsaw:Action="urn:getComando"/>
            <wsdl:output message="ns:getComandoResponse" wsaw:Action="urn:getComandoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TablonSoap11Binding" type="ns:TablonPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getFirma">
            <soap:operation soapAction="urn:getFirma" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getClave">
            <soap:operation soapAction="urn:getClave" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setOrden">
            <soap:operation soapAction="urn:setOrden" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getComando">
            <soap:operation soapAction="urn:getComando" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TablonSoap12Binding" type="ns:TablonPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getFirma">
            <soap12:operation soapAction="urn:getFirma" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getClave">
            <soap12:operation soapAction="urn:getClave" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setOrden">
            <soap12:operation soapAction="urn:setOrden" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getComando">
            <soap12:operation soapAction="urn:getComando" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TablonHttpBinding" type="ns:TablonPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getFirma">
            <http:operation location="getFirma"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getClave">
            <http:operation location="getClave"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setOrden">
            <http:operation location="setOrden"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getComando">
            <http:operation location="getComando"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Tablon">
        <wsdl:port name="TablonHttpSoap11Endpoint" binding="ns:TablonSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/Tablon"/>
        </wsdl:port>
        <wsdl:port name="TablonHttpSoap12Endpoint" binding="ns:TablonSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/Tablon"/>
        </wsdl:port>
        <wsdl:port name="TablonHttpEndpoint" binding="ns:TablonHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/Tablon"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
